*{
	margin:0 auto;
}
.wholepage{
		width: 100%;
		margin-top: 0px;
	}
	.menu{
		height: 100%;
/* 		position: fixed; */
		width: 18%;
		float: left;
		display: none;
		 transition:  all 600ms linear;
		 box-sizing: border-box;
		 border-right: 2px solid #ddd;
		 box-shadow: 3px 0px #F1F1F1;
	}
	.menu.active{
		display: block;
		
	}
	.main{
		width: 100%;
		margin-left: 0px;
		float: left;
		 transition:  all 250ms linear;
		 position: relative;
	}
	.main.active{
		width: 80%;
		margin-left: 20%;
	}
	.menutop{
		width: 100%;
		height: 50px;
		background-color: #009688;
		color: #fff;
	}
	#openNav{
		font-size: 30px;
		width: 30px;
		margin-left: 5px;
		float: left;
		margin-top:10px;
	}
	#openNavRight{
		float: right;	
		font-size: 30px;
		width: 30px;
		margin-right: 20px;
		color: #fff;
		padding-top: 8px;
		position: relative;
	}
	#number span{
		position: absolute;
		top: 2px;
		left: 25px;
		height: 3px;
		width: 3px;
		font-size: 20px;
	}
	.content{
		width: 100%;
	}
	.menu ul li{
		padding: 15px 10px;
		border-bottom: 1px solid #F1F1F1;
		list-style: none;
	}
	.menu ul{
	margin: 0px !important;}
	.notify ul li{
		padding: 10px 5px;
		border-bottom: 1px solid #F1F1F1;
		list-style: none;
	}
	.notify ul li:last-child{
		border-bottom: none;
	}
	ul{
		padding: 0px;
		margin-top: 0px;
	}
	.notify ul li a{
		padding:2px 5px;
	}
	ul li a{
		text-decoration: none;
	}
	.notify{
		width: 15%;
		position: absolute;
		top:50px;
		right: 10px;
		display: none;
		z-index: 10;
		background-color: #fff;
		border:1px solid #F1F1F1;
		height: 300px;
		border-right: 1px solid #ddd;
		box-shadow: 3px 3px #F1F1F1;
	}
	ul li:hover{
		background-color: #08c9b6;
		color: #fff;
	}
